<div class="wrapper" style="background-color: #F2F2F2; height: auto;" >
    <div class="menu-bar" style="position: fixed; width: 100%; top: 0%; left: 0%;">
        <app-header-home></app-header-home>
    </div>
    <br>
    <div>
        <div class="menu" style="position: fixed;">
            <app-menu></app-menu>
        </div>

        <div class="" style="margin-top: 5rem">
            <p-card
                [style]="{'width': '55%', 'margin-bottom': '4em', 'margin-left': 'auto', 'margin-right': 'auto', 'background-color':'white'}">
                <div class="row"
                        style="width: 100%; margin-left: auto; margin-right: auto;">

                        <p-chip *ngIf="avatar != null && anonymous == 0" label="{{user}}" image="{{avatar}}" styleClass="mr-2"></p-chip>
                        <p-chip *ngIf="avatar == null && anonymous == 0" label="{{user}}" image="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg" styleClass="mr-2"></p-chip>
                        <p-chip *ngIf="anonymous == 1" label="User" image="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg" styleClass="mr-2"></p-chip>
                    </div>
                <h4>{{title}}</h4>
                <div
                    style="width: 100%; margin-left: auto; margin-right: auto; border-radius: 10px; border-color: #d8d8d8; border-width: 1px; border-style: solid; padding: 10px;">
                    <p style="color: black;">
                        {{content}}</p>
                </div>

                <p-button (click)="dialogDownloadAtt=true" label="Attachment" icon="pi pi-file-word"></p-button>
                <br>
                <div *ngFor="let file of listFileData; index as i;" style="padding-left: 25px">
                    <a href="{{file.file_name}}">{{file.file_name}}</a>
                </div>
                
                <div class="row"
                    style="border-bottom-width: 1px; border-color: #F2F2F2; border-bottom-style: solid; width: 100%; margin-top: 15px; margin-left: auto; margin-right: auto; padding-left: 10px;">
                    <h6 style="width: 50%;">{{views}} Views</h6>
                    <h6 style="width: 15%;">{{totalLike}} Like</h6>
                    <h6 style="width: 15%;">{{totalDislike}} Dislikes</h6>
                    <h6>{{totalComment}} Comments</h6>
                </div>
                <div class="row"
                    style="border-bottom-width: 1px; border-color: #F2F2F2; border-bottom-style: solid; width: 100%; margin-top: 15px; margin-left: auto; margin-right: auto;">
                    <div style="width: 80%;">
                        <p-toggleButton *ngIf="role == 4" #likeAble [(ngModel)]="like" onLabel="Like" offLabel="Like"
                            offIcon="pi pi-thumbs-up-fill" onIcon="pi pi-thumbs-up-fill"
                            (click)="likeIdeal()"></p-toggleButton>

                        <p-toggleButton *ngIf="role == 4" [(ngModel)]="dislike" onLabel="Dislike" offLabel="Dislike"
                            offIcon="pi pi-thumbs-down-fill" onIcon="pi pi-thumbs-down-fill"
                            (click)="dislikeIdeal()"></p-toggleButton>
                    </div>
                    <p-button id="comment_btn" label="Comments" icon="pi pi-comments"></p-button>
                </div>

                <br>
                <div *ngIf="role == 4" style="width: 100%; display: flex;">
                    <span class="p-float-label" style="width: 90%;">
                        <textarea [(ngModel)]="comment_value" [rows]="1" pInputTextarea [autoResize]="true"></textarea>
                        <label for="float-input">Comment something here.............</label>
                    </span>
                    <button style="margin-top: 0; margin-left: 10px;" pButton pRipple type="button" icon="pi pi-reply"
                        class="p-button-rounded p-button-outlined" (click)="postCommentByIdea(null)"></button>
                </div>
                <br>
                <div *ngFor="let l of listCommentData; index as i;" style="padding-left: 10px; padding-right: 10px;">
                    <div class="row"
                        style="width: 100%; margin-left: auto; margin-right: auto; border-radius: 10px; border-color: #d8d8d8; border-width: 1px; border-style: solid; padding: 10px; margin-bottom: 10px;">
                        
                        <p-chip *ngIf="l.author.avatar_url != null" label="{{l.author.full_name}}" image="{{l.author.avatar_url}}" styleClass="mr-2"></p-chip>
                        <p-chip *ngIf="l.author.avatar_url == null" label="{{l.author.full_name}}" image="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg" styleClass="mr-2"></p-chip>
                        <span style="color: black;">{{l.content}}</span>
                        <br>
                        <span style="color: black;">{{l.created_date | date:'mediumDate'}}</span>
                    </div>

                    <div class="form-group" style="width: 100%;">
                        <button type="button" class="btn btn-tertiary text-dark" id="cmtBtn" 
                            data-toggle="collapse" [attr.data-target]="'#' + l.comment_id" data-mdb-ripple-color="light"
                            style="background-color: white;">See more</button>
                    </div>
                
                    
                    <div class="collapse"  id="{{l.comment_id}}" style="width: 90%; ">
                        <div *ngFor="let cmtChildren of l.listCommentChildren"
                            style="width: 100%; margin-left: auto; margin-right: auto; border-radius: 10px; border-color: #d8d8d8; border-width: 1px; border-style: solid; padding: 10px; margin-bottom: 10px;">
                            
                            <p-chip *ngIf="cmtChildren.author.avatar_url != null" label="{{cmtChildren.author.full_name}}" image="{{cmtChildren.author.avatar_url}}" styleClass="mr-2"></p-chip>
                            <p-chip *ngIf="cmtChildren.author.avatar_url == null" label="{{cmtChildren.author.full_name}}" image="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg" styleClass="mr-2"></p-chip>
                            <br>
                            <span>{{cmtChildren.content}}</span>
                            <br>
                            <span>{{cmtChildren.created_date | date:'mediumDate'}}</span>
                        </div>


                        <div *ngIf="role == 4" style="display: flex;  width: 90%; margin-bottom: 10px;">
                            <span class="p-float-label" style="width: 90%; height: 100%;">
                                <textarea [(ngModel)]="commentChildren_value" [rows]="1" pInputTextarea [autoResize]="true"></textarea>
                                <label for="float-input">Comment something here.............</label>
                            </span>
                            <button style="margin-top: 0; margin-left: 10px;" pButton pRipple type="button"
                                icon="pi pi-reply" class="p-button-rounded p-button-outlined"
                                (click)="postCommentByIdea(l.comment_id)"></button>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </div>

    <p-dialog header="Download Idea" [(visible)]="dialogDownloadAtt" [modal]="true" [responsive]="true" [closable]="false"
    [style]="{width: '60%', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">
    <div style="width: 100%; display: flex; ">
        <div class="ds-category">
            <div class="col-md-12 body-page">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row text-right">
                            <div class="col-md-12 mt-10">
                                <div class="group_btn" [style]="{'float': 'right'}">
                                    <!-- <span class="p-input-icon-right">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" class="input-search"
                                            (input)="myTab.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search..." style="margin-left: 7.5px; height: 30px !important; " />
                                    </span>
                                    <button pButton type="button" (click)="openNewCategory(null)" label="Add" icon="pi pi-plus"
                                        style="background-color:#f97c39; width: 120px !important; height: 30px !important; margin-left: 5px; border: 0px;"></button>
                                    <button pButton type="button" label="Delete" icon="pi pi-trash"
                                        style="background-color:red; width: 120px !important; height: 30px !important; margin-left: 5px; border: 0px"
                                        (click)="showDialogXoaN()"></button> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-12">
                        <p-table #myTab [columns]="cols" [value]="listFileData" [tableStyle]="{ 'min-width': '50rem' }"
                            [(selection)]="listSelectedData" dataKey="file_id" [rowHover]="true" [scrollable]="true"
                            [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                            [globalFilterFields]="['Stt','name',]">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: 2rem" class="text-center">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th *ngFor="let col of columns"
                                        [ngStyle]="{ 'text-align': 'center', 'min-width': col.width }">
                                        {{ col.header }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-file>
                                <tr>
                                    <td style="width: 2rem" class="text-center">
                                        <p-tableCheckbox [value]="file"></p-tableCheckbox>
                                    </td>
                                    <td style="text-align: center">{{file.Stt}}</td>
                                    <td style="text-align: center">{{file.name}}</td>
                                    <td style="text-align: center">{{file.size}}</td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="margin-top: 5%; display: flex; margin-left: auto; margin-right: auto; width: fit-content;">
        <button type="button" pButton icon="pi pi-close" (click)="dialogDownloadAtt=false" label="Cancel"
          class="btn btn-light" style="width:100px; height:38px"></button>
        <button type="submit" class="btn btn-primary ml-5">Download</button>
      </div>
</p-dialog>
    