<div class="wrapper" style="background-color: #F2F2F2; height: auto;" >
    <div class="menu-bar" style="position: fixed; width: 100%; top: 0%; left: 0%;">
        <app-header-home></app-header-home>
    </div>
    <br>
    <div>
        <div class="menu" style="position: fixed;">
            <app-menu></app-menu>
        </div>

        <div class="" style="margin-top: 5rem">
            <p-card
                [style]="{'width': '55%', 'margin-bottom': '4em', 'margin-left': 'auto', 'margin-right': 'auto', 'background-color':'white'}">
                <div class="row"
                        style="width: 100%; margin-left: auto; margin-right: auto;">

                        <p-chip *ngIf="avatar != null && anonymous == 0" label="{{user}}" image="{{avatar}}" styleClass="mr-2"></p-chip>
                        <p-chip *ngIf="avatar == null && anonymous == 0" label="{{user}}" image="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg" styleClass="mr-2"></p-chip>
                        <p-chip *ngIf="anonymous == 1" label="Staff" image="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg" styleClass="mr-2"></p-chip>
                    </div>
                <h4>{{title}}</h4>
                <div
                    style="width: 100%; margin-left: auto; margin-right: auto; border-radius: 10px; border-color: #d8d8d8; border-width: 1px; border-style: solid; padding: 10px;">
                    <p style="color: black;">
                        {{content}}</p>
                </div>

                <p-button label="Attachment" icon="pi pi-file-word"></p-button>
                <br>
                <button pButton type="button" (click)="DownloadFile()" label="File đính kèm.doc" class="p-button-text"
                    id="file"></button>
                <button pButton type="button" (click)="DownloadFile()" label="File đính kèm.doc" class="p-button-text"
                    id="file"></button>
                <div class="row"
                    style="border-bottom-width: 1px; border-color: #F2F2F2; border-bottom-style: solid; width: 100%; margin-top: 15px; margin-left: auto; margin-right: auto; padding-left: 10px;">
                    <h6 style="width: 50%;">{{views}} Views</h6>
                    <h6 style="width: 15%;">{{totalLike}} Like</h6>
                    <h6 style="width: 15%;">{{totalDislike}} Dislikes</h6>
                    <h6>{{totalComment}} Comments</h6>
                </div>
                <div class="row"
                    style="border-bottom-width: 1px; border-color: #F2F2F2; border-bottom-style: solid; width: 100%; margin-top: 15px; margin-left: auto; margin-right: auto;">
                    <div style="width: 80%;">
                        <p-toggleButton *ngIf="role == 4" #likeAble [(ngModel)]="like" onLabel="Like" offLabel="Like"
                            offIcon="pi pi-thumbs-up-fill" onIcon="pi pi-thumbs-up-fill"
                            (click)="likeIdeal()"></p-toggleButton>

                        <p-toggleButton *ngIf="role == 4" [(ngModel)]="dislike" onLabel="Dislike" offLabel="Dislike"
                            offIcon="pi pi-thumbs-down-fill" onIcon="pi pi-thumbs-down-fill"
                            (click)="dislikeIdeal()"></p-toggleButton>
                    </div>
                    <p-button id="comment_btn" label="Comments" icon="pi pi-comments"></p-button>
                </div>

                <br>
                <div *ngIf="role == 4" style="width: 100%; display: flex;">
                    <span class="p-float-label" style="width: 90%;">
                        <textarea [(ngModel)]="comment_value" [rows]="1" pInputTextarea [autoResize]="true"></textarea>
                        <label for="float-input">Comment something here.............</label>
                    </span>
                    <button style="margin-top: 0; margin-left: 10px;" pButton pRipple type="button" icon="pi pi-reply"
                        class="p-button-rounded p-button-outlined" (click)="postCommentByIdea(null)"></button>
                </div>
                <br>
                <div *ngFor="let l of listCommentData; index as i;" style="padding-left: 10px; padding-right: 10px;">
                    <div class="row"
                        style="width: 100%; margin-left: auto; margin-right: auto; border-radius: 10px; border-color: #d8d8d8; border-width: 1px; border-style: solid; padding: 10px; margin-bottom: 10px;">
                        
                        <p-chip *ngIf="l.author.avatar_url != null" label="{{l.author.full_name}}" image="{{l.author.avatar_url}}" styleClass="mr-2"></p-chip>
                        <p-chip *ngIf="l.author.avatar_url == null" label="{{l.author.full_name}}" image="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg" styleClass="mr-2"></p-chip>
                        <span style="color: black;">{{l.content}}</span>
                        <br>
                        <span style="color: black;">{{l.created_date | date:'mediumDate'}}</span>
                    </div>

                    <div class="form-group" style="width: 100%;">
                        <button type="button" class="btn btn-tertiary text-dark" id="cmtBtn" 
                            data-toggle="collapse" [attr.data-target]="'#' + l.comment_id" data-mdb-ripple-color="light"
                            style="background-color: white;">See more</button>
                    </div>
                
                    
                    <div class="collapse"  id="{{l.comment_id}}" style="width: 90%; ">
                        <div *ngFor="let cmtChildren of l.listCommentChildren"
                            style="width: 100%; margin-left: auto; margin-right: auto; border-radius: 10px; border-color: #d8d8d8; border-width: 1px; border-style: solid; padding: 10px; margin-bottom: 10px;">
                            
                            <p-chip *ngIf="cmtChildren.author.avatar_url != null" label="{{cmtChildren.author.full_name}}" image="{{cmtChildren.author.avatar_url}}" styleClass="mr-2"></p-chip>
                            <p-chip *ngIf="cmtChildren.author.avatar_url == null" label="{{cmtChildren.author.full_name}}" image="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg" styleClass="mr-2"></p-chip>
                            <br>
                            <span>{{cmtChildren.content}}</span>
                            <br>
                            <span>{{cmtChildren.created_date | date:'mediumDate'}}</span>
                        </div>


                        <div *ngIf="role == 4" style="display: flex;  width: 90%; margin-bottom: 10px;">
                            <span class="p-float-label" style="width: 90%; height: 100%;">
                                <textarea [(ngModel)]="commentChildren_value" [rows]="1" pInputTextarea [autoResize]="true"></textarea>
                                <label for="float-input">Comment something here.............</label>
                            </span>
                            <button style="margin-top: 0; margin-left: 10px;" pButton pRipple type="button"
                                icon="pi pi-reply" class="p-button-rounded p-button-outlined"
                                (click)="postCommentByIdea(l.comment_id)"></button>
                        </div>
                    </div>
                </div>
            </p-card>
        </div>
    </div>