<form [formGroup]="formGroup" (ngSubmit)="SaveIdea()">
    <div class="field" style="margin-top: 5%;">
        <label for="name" style="width: 100%;">Category</label>
        <p-dropdown [options]="categories" placeholder="Select a category" optionLabel="name" [showClear]="true"
            formControlName="category"
            [ngClass]="(formGroup.controls.category.invalid && (formGroup.controls.category.dirty || formGroup.controls.category.touched)) ? 'ng-invalid ng-dirty' : ''"></p-dropdown>

        <div class="form-group mb-2"
            [hidden]="formGroup.controls.category.valid|| formGroup.controls.category.untouched">
            <span
                *ngIf="formGroup.controls.category.hasError('required') || formGroup.controls.category.hasError('blankString') "
                class="error-message-span" style="color: #FD0B0B; font-size: small;">
                Please choose category
            </span>
        </div>
    </div>


    <div class="field" style="margin-top: 5%;">

        <label for="name" style="width: 100%;">Title</label>
        <input id="float-input" type="text" pInputText formControlName="title" required style=" width: 100%;"
            [ngClass]="(formGroup.controls.title.invalid && (formGroup.controls.title.dirty || formGroup.controls.title.touched)) ? 'ng-invalid ng-dirty' : ''">

        <div class="form-group mb-2" [hidden]="formGroup.controls.title.valid|| formGroup.controls.title.untouched">
            <span
                *ngIf="formGroup.controls.title.hasError('required') || formGroup.controls.title.hasError('blankString') "
                class="error-message-span" style="color: #FD0B0B; font-size: small;">
                Please enter title
            </span>
        </div>

    </div>

    <div class="field" style="margin-top: 5%;">

        <label for="name" style="width: 100%;">Tag name (Ex: #data #visual)</label>
        <input id="float-input" type="text" pInputText formControlName="tagName" required style=" width: 100%;"
            [ngClass]="(formGroup.controls.tagName.invalid && (formGroup.controls.tagName.dirty || formGroup.controls.tagName.touched)) ? 'ng-invalid ng-dirty' : ''">

        <div class="form-group mb-2" [hidden]="formGroup.controls.tagName.valid|| formGroup.controls.tagName.untouched">
            <span
                *ngIf="formGroup.controls.tagName.hasError('required') || formGroup.controls.tagName.hasError('blankString') "
                class="error-message-span" style="color: #FD0B0B; font-size: small;">
                Please enter tag name
            </span>
        </div>

    </div>


    <div class="field" style="margin-top: 5%;">
        <label for="name" style="width: 100%;">Content</label>
        <textarea id="float-input" rows="5" cols="30" pInputTextarea formControlName="content" required
            style=" width: 100%;"
            [ngClass]="(formGroup.controls.content.invalid && (formGroup.controls.content.dirty || formGroup.controls.content.touched)) ? 'ng-invalid ng-dirty' : ''"></textarea>

        <div class="form-group mb-2" [hidden]="formGroup.controls.content.valid|| formGroup.controls.content.untouched">
            <span
                *ngIf="formGroup.controls.content.hasError('required') || formGroup.controls.content.hasError('blankString') "
                class="error-message-span" style="color: #FD0B0B; font-size: small;">
                Please enter content
            </span>
        </div>
    </div>


    <div class="field" style="display: flex; margin-top: 5%;">
        <p>{{url}}</p>
        <label for="files" class="btn" style="height: 40px; width: 30%; border-width: 1px; border-color: black;">Select
            File</label>
        <input type="file" id="files" (change)="onselectFile($event)" multiple="multiple"
            style="margin-top: auto; margin-bottom: auto; margin-left: 5%; display: none;" required>
    </div>

    <div class="form-check" style=" margin-top: 5%;">
        <input class="form-check-input" type="checkbox" value="" id="Anonymous" formControlName="anonymous">
        <label class="form-check-label" for="Anonymous">
            Anonymous
        </label>
    </div>
    <div class="form-check" style=" margin-top: 5%;">
        <input class="form-check-input" type="checkbox" value="" id="Agree" formControlName="checked" required
        [ngClass]="(formGroup.controls.checked.invalid && (formGroup.controls.checked.dirty || formGroup.controls.checked.touched)) ? 'ng-invalid ng-dirty' : ''"
        >
        <label class="form-check-label" for="Agree">
            Agree term
        </label>
        <div class="form-group mb-2" [hidden]="formGroup.controls.checked.valid|| formGroup.controls.checked.untouched">
            <span
                *ngIf="formGroup.controls.checked.hasError('required') || formGroup.controls.checked.hasError('blankString') "
                class="error-message-span" style="color: #FD0B0B; font-size: small;">
                Please enter checked
            </span>
        </div>
    </div>

    <div style=" margin-top: 5%;">
        <button pButton type="Submit" label="Save"></button>
    </div>
</form>