<!-- <div style="height: 50px; background-color: white; width: '100%';">

</div> -->
<div class="header">
    <p-menubar [model]="menus">
        <ng-template pTemplate="start">
            <a href=""><img src="../../assets/images/home.png" style="margin-left: 55px;" /></a>
        </ng-template>
    </p-menubar>
</div>
<div style="width: 100%; display: flex;">
    <div style="margin-top: '1%';">
        <app-menu></app-menu>
    </div>
    


    <div class="ds-category">

        <div class="col-md-12 body-page">

        </div>
    </div>
</div>


