.highcharts {
    background: #fff;
    border-radius: 8px;
    border: 1px solid #ccc;
}

/* .header-left .header-left {} */

.highcharts .header-right {
    text-align: right;
}

.highcharts .header-content {
    padding: 10px 10px 10px 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #000;

    margin-bottom: 10px;
}

.highcharts .header-content .header-title {
    color: #f77643;
}

.highcharts .header-center {
    display: flex;
    align-items: center;
}

.highcharts .header-title {
    margin-bottom: 0;
    text-transform: uppercase;
}

.highcharts .body-page {
    padding-bottom: 10px;
}


/* justify-content: center;
display: flex; */


::ng-deep .highcharts .p-tabview .p-tabview-nav-container .p-tabview-nav-content ul li {
    border-left: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-right: 1px solid #ccc;
    width: 25%;
    text-align: center;
}

::ng-deep .highcharts .p-tabview .p-tabview-nav-container .p-tabview-nav-content ul li .p-tabview-nav-link {
    justify-content: center;
}

::ng-deep .highcharts .p-tabview .p-tabview-nav li.p-highlight .p-tabview-nav-link {
    border-color: #f77643;
    color: #f77643;
}

::ng-deep .highcharts .p-tabview .p-tabview-panels {
    border: 1px solid #ccc;
}


::ng-deep .highcharts legend {
    width: auto;
    font-size: 16px;
    font-weight: 900 !important;
    border: 0 !important;
    margin-bottom: 0;
    margin-left: 5px;
    background: #FFFFFF !important;
}

::ng-deep .highcharts .p-fieldset {
    border: 2px solid #c8c8c8;
    margin-bottom: 15px;
}

.chart {
    width: 100%;
    max-width: 1500px;
    min-width: 550px;
}

.chart2 {
    width: 100%;
    max-width: 705;
}