<p-tabView >
    <p-tabPanel header="Học phí">
        <div style="text-align:right; padding-bottom: 3px">
            <p-dropdown [options]="khois" [(ngModel)]="chonKhoiSoTien" optionLabel="name"></p-dropdown>
        </div>
        <div class="chartTKSoTienTheolop" [chart]="chartTKSoTienTheolop"></div>
        <br>
        <div class="barChartTKTSoTienTheoHS" [chart]="barChartTKTSoTienTheoHS"></div>
    </p-tabPanel>
    <p-tabPanel header="Học sinh">
        <div class="chart">
            <div class="chartGioiTinh" [chart]="chartGioiTinh"></div>
            <div class="item">
                <div style="text-align:right ; padding-bottom: 3px">
                    <p-dropdown [options]="khois" [(ngModel)]="chonKhoiChuyenCan" optionLabel="name"></p-dropdown>
                </div>
                <div class="chartTKChuyenCan" [chart]="chartTKChuyenCan"></div>
            </div>
            <div class="item">
                <div style="text-align:right; padding-bottom: 3px" >
                    <p-dropdown [options]="khois" [(ngModel)]="chonKhoiKXuongYTe" optionLabel="name"></p-dropdown>
                </div>
                <div class="chartTKXuongYTe" [chart]="chartTKXuongYTe"></div>
            </div>
            <div class="item">
                <div style="text-align:right; padding-bottom: 3px">
                    <p-dropdown [options]="khois" [(ngModel)]="chonKhoiDanhHieu" optionLabel="name"></p-dropdown>
                </div>
                <div class="chartTKDanhHieu" [chart]="chartTKDanhHieu"></div>
            </div>
        </div>
    </p-tabPanel>
    <p-tabPanel header="Câu lạc bộ">
        <div class="">
            <div class="barChartTKTVCLB" [chart]="barChartTKTVCLB"></div>
            
        </div>
    </p-tabPanel>
    <p-tabPanel header="Thực đơn">
        <div class="chartTKCaloriesTheoTuan" [chart]="chartTKCaloriesTheoTuan"></div>
        <div class="chartTKCaloriesTheoNgay" [chart]="chartTKCaloriesTheoNgay"></div>
    </p-tabPanel>
    <p-tabPanel header="Tâm lý">
        <div class="">
            <div class="grid">
                <div style="background-color: coral; height:200px;text-align: center; border-radius:10px">
                    <h2 style="padding-top: 80px;">
                        Trường hợp đang hỗ trợ 1500
                    </h2>
                </div>

                <div style="background-color:  #4da6ff; height:200px; text-align: center; border-radius:10px">
                    <h2 style="padding-top: 80px;">
                        Trường hợp đã khép lại 1500
                    </h2>
                </div>

                <div class="pieChartThamVan" [chart]="pieChartThamVan"></div>
                <div class="pieChartTyLeThamVan" [chart]="pieChartTyLeThamVan"></div>
            </div>
            <div class="chartTVMucDo" [chart]="chartTVMucDo" style="padding-top: 20px;"></div>
        </div>
    </p-tabPanel>
</p-tabView>