<div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="" class="col-md-1"><img src="../../assets/images/home.png" style="margin-left: 55px;" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav col" >
                <li class="nav-item active col-md-2">
                    <a class="nav-link" href="/manage/account">Manage Account<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active col-md-2">
                    <a class="nav-link" href="/manage/event">Manage Event</a>
                </li>
                <li class="nav-item active col-md-5">
                    <a class="nav-link" href="/manage/department">Manage Department</a>
                </li>
                <li class="nav-item active col-md-1">
                    <a class="nav-link" href="#">Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div style="width: 100%; display: flex; margin-top: 1%;">
        <div class="ds-account">
            <div class="col-md-12 body-page">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row text-right">
                            <div class="col-md-12 mt-10">
                                <div class="group_btn" [style]="{'float': 'right'}">
                                    <span class="p-input-icon-right">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" class="input-search"
                                            (input)="myTab.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search..." style="margin-left: 7.5px; height: 30px !important;" />
                                    </span>
                                    <button pButton type="button" (click)="openNewUser(null)" label="Add" icon="pi pi-plus"
                                        style="background-color:#f97c39; width: 120px !important; height: 30px !important; margin-left: 5px; border: 0px;"></button>
                                    
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;" >
                    <div class="col-md-12">
                        <p-table #myTab [columns]="cols" [value]="listData" [tableStyle]="{ 'min-width': '50rem' }"
                            [(selection)]="listSelectedData" dataKey="account_id" [rowHover]="true" [scrollable]="true"
                            [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [scrollHeight]="'flex'" [scrollable]="true"
                            [globalFilterFields]="['Number','email',]"  >
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th *ngFor="let col of columns"
                                        [ngStyle]="{ 'text-align': 'center', 'width': col.width }">
                                        {{ col.header }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-account>
                                <tr>
                                    <td style="text-align: center">{{account.Stt}}</td>
                                    <td style="text-align: center">{{account.email}}</td>
                                    <td style="text-align: center">{{account.department.name}}</td>
                                    <td style="text-align: center">{{account.created_at| date:'mediumDate'}}</td>
                                    <td style="text-align: center">{{account.status}}</td>
                                    <td style="text-align: center">
                                        <span>
                                            <button pButton icon="pi pi-pencil" class="ui-button-primary edit-button"
                                                (click)="openNewUser(account)"></button>
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <p-toast position="bottom-right"></p-toast>
        </div>
    </div>

</div>

