<div>
    <div class="col-md-12">
        <app-header-home></app-header-home>
    </div>
    

    <div style="width: 100%; display: flex;">
        <app-menu></app-menu>
        <div class="ds-account">
            <div class="col-md-12 body-page">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row text-right">
                            <div class="col-md-12 mt-10">
                                <div class="group_btn" [style]="{'float': 'right'}">
                                    <span class="p-input-icon-right">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" class="input-search"
                                            (input)="myTab.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search..." style="margin-left: 7.5px; height: 30px !important;" />
                                    </span>
                                    <button pButton type="button" (click)="openNewUser(null)" label="Add" icon="pi pi-plus"
                                        style="background-color:#f97c39; width: 120px !important; height: 30px !important; margin-left: 5px; border: 0px;"></button>
                                    
                                </div>
        
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px;" >
                    <div class="col-md-12">
                        <p-table #myTab [columns]="cols" [value]="listData" [tableStyle]="{ 'min-width': '50rem' }"
                            [(selection)]="listSelectedData" dataKey="account_id" [rowHover]="true" [scrollable]="true"
                            [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]" [scrollHeight]="'flex'" [scrollable]="true"
                            [globalFilterFields]="['Number','name',]"  >
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: 2rem" class="text-center">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th *ngFor="let col of columns"
                                        [ngStyle]="{ 'text-align': 'center', 'width': col.width }">
                                        {{ col.header }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-account>
                                <tr>
                                    <td style="width: 2rem" class="text-center">
                                        <p-tableCheckbox [value]="account"></p-tableCheckbox>
                                    </td>
                                    <td style="text-align: center">{{account.Stt}}</td>
                                    <td style="text-align: center">{{account.email}}</td>
                                    <td style="text-align: center">{{account.email}}</td>
                                    <td style="text-align: center">{{account.role.name}}</td>
                                    <td style="text-align: center">{{account.status}}</td>
                                    <td style="text-align: center">
                                        <span>
                                            <button pButton icon="pi pi-pencil" class="ui-button-primary edit-button"
                                                (click)="openNewUser(account)"></button>
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <p-toast position="bottom-right"></p-toast>
        </div>
    </div>

</div>

