/* 

li {
    margin-top: 1rem;
}

.p-input-icon-left {
    margin-top: 2rem;
    width: 12rem;
    margin-bottom: 2rem;

}

:host ::ng-deep .p-chip.mr-2 {
    margin-left: 25px;
    margin-top: 20px;
    height: 3rem;
    background-color: white;
}


:host ::ng-deep .p-megamenu {
    background-color: white;
    border-width: 0;
    padding: 0;
    margin-left: 25px;
}

.p-input-icon-left input{
    background-color: rgb(233, 233, 233);
    border-width: 0;
    height: 2rem;
    width: 12rem;
}

.menu-left {
    background-color: white;
    border-radius: 10px   ;
    height: 35rem;
    width: 15rem;
    top: 13%;
    position: sticky;
    margin-left: 30px;
}

:host ::ng-deep .p-menu {
    border-width: 0;
    margin-left: auto;
    margin-right: auto;
    width: 12rem;
    
}


:host ::ng-deep .p-menuitem {
    margin-bottom: 15px;
    
} */
body {
    background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 240px;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 14%;
    bottom: 0;
    left: 0;
    padding: 1% 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 20%;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}