<form [formGroup]="formGroup" (ngSubmit)="SaveCategory()" >
    <div class="field" style="margin-top: 5%;">
        <label for="name" style="width: 100%;">Name Category</label>
        
        <input type="text" pInputText id="name" formControlName="name" required  style=" width: 100%;"
            [ngClass]="(formGroup.controls.name.invalid && (formGroup.controls.name.dirty || formGroup.controls.name.touched)) ? 'ng-invalid ng-dirty' : ''">
    
        <div class="form-group mb-2" [hidden]="formGroup.controls.name.valid|| formGroup.controls.name.untouched">
            <span *ngIf="formGroup.controls.name.hasError('required') || formGroup.controls.name.hasError('blankString') "
                class="error-message-span" style="color: #FD0B0B; font-size: small;">
                Please enter name of category
            </span>
        </div>
    </div>
    
    <div>
        <!-- <button pButton type="Submit" label="Save"></button> -->
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>