<div class="wrapper" style="background-color: #F2F2F2">
  <div class="menu-bar" style="position: fixed; width: 100%; top: 0%; left: 0%;">
    <app-header-home></app-header-home>
  </div>
  <br>
  <div class="">
    <div class="menu" style="position: fixed;">
      <app-menu></app-menu>
    </div>
    <!-- && userDepartment == eventInfo.department_id || eventInfo.department_id == null -->
    <div class="" style="margin-top: 5rem">
      <div *ngIf="(role == 4 && userDepartment == eventInfo.department_id) || (role == 4 && eventInfo.department_id == null)"
        style="width: 55%; margin-bottom: 2em; margin-left: auto; margin-right: auto; background-color: white; border-radius: 5px; height: 80px; padding-top: 5px; padding-left: 20px;"
        class="row">
        <div style="margin-top: auto; margin-bottom: auto; width: 7%;">
          <p-avatar image="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg" styleClass="mr-2"
            size="large" shape="circle"></p-avatar>
        </div>

        <button class="btn btn-light" (click)="postIdeal()"
          style="width: 90%; height: 50px; margin-top: auto; margin-bottom: auto; ">Post Ideas</button>
      </div>
      <div class="idea_list" style="margin-top: 1rem">
        <p-card
          [style]="{'width': '55%', 'margin-bottom': '4em', 'margin-left': 'auto', 'margin-right': 'auto', 'background-color':'white'}">

          <div class="row" style="width: 100%; margin-left: auto; margin-right: auto; justify-content: space-between;">

            <div style="position: static; width: 70%; text-align: center;  margin-left: 10%;">
              <p style="text-align: center; margin-left: 10px; font-size: 25px; font-weight: bold; color: black;">
                Ideas of {{eventInfo.name}}
              </p>

            </div>

            <div class="field" style="width: 20%;" *ngIf="role == 2 && exEvent == true">

              <button (click)="showDialogDownload()" class="btn btn-light btn-outline-secondary">Download Ideas</button>
            </div>



            <div class="row" style="margin-top: 20px; width: 100%; margin-left: auto; margin-right: auto;">
                <div class="col-md-12">
                    <p-table #myTab [value]="listData" [tableStyle]="{ 'width': '100%' }" [rowHover]="true"
                        [scrollable]="true"
                        [globalFilterFields]="['user.full_name','event.nameEvent','title', 'nameTag', 'category']"
                        [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 50]">
                        <ng-template pTemplate="body" let-idea>
                            <tr>
                                <td>
                                    <div style="width: 100%;">
                                        <div class="row"
                                            style="margin-top: 2rem; margin-bottom: 1rem; background-color: #F2F2F2; padding: 10px; border-radius: 10px; width: 100%; margin-left: auto; margin-right:auto;">
                                            <div class="personal-info col-3" style="position: static;">
                                                <p-avatar *ngIf="idea.is_anonymous == 0 && idea.url_avatar"
                                                    image="{{idea.url_avatar}}" styleclass="mr-2" size="xlarge"
                                                    shape="circle"></p-avatar>
                                                <p-avatar *ngIf="idea.is_anonymous == 0 && idea.url_avatar == null"
                                                    image="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg"
                                                    styleclass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                                <p></p>

                                                <p-avatar *ngIf="idea.is_anonymous == 1"
                                                    image="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg"
                                                    styleclass="mr-2" size="xlarge" shape="circle"></p-avatar>
                                                <p></p>
                                                <p *ngIf="idea.is_anonymous == 0">{{idea.full_name}}</p>
                                                <p *ngIf="idea.is_anonymous == 1">User</p>

                                            </div>
                                            <div class="col-9" style="position: static;">
                                                <button pbutton pripple type="button" label=""
                                                    class="p-button-text p-button-plain border-0 text-left w-100 p-0"
                                                    style="color: black; font-size: 19px; font-weight: 700;"
                                                    (click)="IdeaDetail(idea.idea_id)">{{idea.title}}</button>
                                                <div class="row"
                                                    style="width: 100%; justify-content: space-between; margin-left: auto; margin-right: auto; margin-top: 1%;">
                                                    <p>Event: {{idea.nameEvent}}</p>

                                                    <p>{{idea.views}} Views</p>
                                                </div>

                                                <div class="row"
                                                    style="width: 100%; justify-content: space-between; margin-left: auto; margin-right: auto; ">
                                                    <p style="width: 60%;">Start at: {{idea.created_at |
                                                        date:'mediumDate'}}</p>
                                                    <p>{{idea.like}} Likes</p>
                                                    <p>{{idea.dislike}} Dislikes</p>
                                                </div>
                                                <div class="row"
                                                    style="width: 100%; justify-content: space-between; margin-left: auto; margin-right: auto; margin-top: 1%;">
                                                    <p>Category: {{idea.category}}</p>
                                                </div>
                                                <div class="row" style="margin-left: auto; margin-right: auto;">
                                                    <p style="display: none;">{{idea.tags}}</p>
                                                </div>
                                                <div class="row">
                                                    <p-chip label="#{{lc.name}}"
                                                        *ngFor="let lc of idea.tag; index as i;"></p-chip>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                            </tr>
                        </ng-template>
                    </p-table>
                </div>
            </div>
          </div>


        </p-card>
      </div>

    </div>


    <p-toast position="bottom-right"></p-toast>
  </div>

  <p-dialog header="Confirm" [(visible)]="dialogDownloadEvent" [modal]="true" [responsive]="true" [closable]="false"
    [style]="{width: '60%', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">

    <form [formGroup]="formGroup">
      <div class="field">
        <label for="name" style="width: 100%;">Name Category</label>
        <p-dropdown [options]="listCategories" formControlName="category" optionLabel="name" appendTo="body"
          [style]="{'width' : '100%'}" [filter]="true"></p-dropdown>
      </div>

      <div class="field" style="margin-top: 5%;">
        <label for="name" style="width: 100%;">Name Department</label>
        <p-dropdown [options]="listDepartments" formControlName="department" optionLabel="name" appendTo="body"
          [style]="{'width' : '100%'}" [filter]="true"></p-dropdown>
      </div>

      <div style="margin-top: 5%; display: flex; margin-left: auto; margin-right: auto; width: 100%;">
        <div class="form-check form-check-inline w-50">
          <label class="form-check-label h6" for="inlineCheckbox2">Start Date: </label>
          <p-calendar [style]="{'margin-left' : '2%'}" formControlName="startDate" inputId="basic" [required]
            appendTo="body"></p-calendar>
        </div>
        <div class="form-check form-check-inline w-50">
          <label class="form-check-label h6" for="inlineCheckbox2">End Date: </label>
          <p-calendar [style]="{'margin-left' : '2%'}" formControlName="endDate" inputId="basic" [required]
            appendTo="body"></p-calendar>
        </div>

      </div>

      <div style="margin-top: 5%; display: flex; margin-left: auto; margin-right: auto; width: fit-content;">
        <button type="button" pButton icon="pi pi-close" (click)="dialogDownloadEvent=false" label="Cancel"
          class="btn btn-light" style="width:100px; height:38px"></button>
        <button type="submit" class="btn btn-primary ml-5">Download</button>
      </div>
    </form>

  </p-dialog>