<div class="wrapper" style="background-color: #F2F2F2">
    <div class="menu-bar" style="position: fixed; width: 100%; top: 0%; left: 0%;">
        <app-header-home></app-header-home>
    </div>
    <br>
    <div class="">
        <div class="menu" style="position: fixed;">
            <app-menu></app-menu>
        </div>

        <div class="" style="margin-top: 5rem">
            <p-card header="20/02/2001 - 20/02/2002"
                [style]="{'width': '55%', 'margin-bottom': '4em', 'margin-left': 'auto', 'margin-right': 'auto', 'background-color':'white'}">
                    <div class="" style="position: static;">
                        <p
                            style="text-align: center; margin-left: 10px; font-size: 25px; font-weight: bold; color: black;">
                            {{name}}
                        </p>
                        <p
                            style="text-align: center; margin-left: 10px; font-size: 25px; font-weight: bold; color: black;">
                            {{content}}
                        </p>
                        <p
                            style="text-align: center; margin-left: 10px; font-size: 25px; font-weight: bold; color: black;">
                            {{first_closure_date | date:'mediumDate'}}
                        </p>
                        <p
                            style="text-align: center; margin-left: 10px; font-size: 25px; font-weight: bold; color: black;">
                            {{final_closure_date | date:'mediumDate'}}
                        </p>
                    </div>


                <div>

                    <div class="row" *ngFor="let l of listIdea; index as i;"
                        style="margin-top: 2rem; margin-bottom: 1rem; background-color: #F2F2F2; padding: 10px; border-radius: 10px; width: 90%; margin-left: auto; margin-right:auto;">
                        <div class="col-9" style="position: static;">
                            <p>{{l.title}}</p>
                            <p>{{l.content}}</p>
                            <p>{{l.user.userDetail.full_name}}</p>
                            <p>{{l.created_at | date:'mediumDate'}}</p>
                        </div>
                        
                    </div>
                </div>

            </p-card>

        </div>


        <p-toast position="bottom-right"></p-toast>
    </div>