<div class="wrapper" style="background-color: #F2F2F2">
	<div class="menu-bar" style="position: fixed; width: 100%; top: 0%; left: 0%;">
		<app-header-home></app-header-home>
	</div>
	<br>
	<div class="">
		<div class="menu" style="position: fixed;">
			<app-menu></app-menu>
		</div>



		<div class="post"
			style=" background-color: white;  height: 100px; width: 55%; margin-left: auto; margin-top: 5em; border-radius: 10px; margin-right: auto; text-align: center; padding-top: 1%;">

			<div class="input-group" style="padding-left: 1%; padding-right: 1%; position: static;">
				<span class="input-group-prepend">
					<div class="input-group-text bg-transparent border-right-0">
						<i class="fa fa-search"></i>
					</div>
				</span>
				<input class="form-control py-2 border-left-0 border" type="search"
					(input)="myTab.filterGlobal($any($event.target).value, 'contains')"
					placeholder="Search anything you want..." style="position: static;" />
			</div>
		</div>

		<div class="" style="margin-top: 1rem">
			<p-card
				[style]="{'width': '55%', 'margin-bottom': '4em', 'margin-left': 'auto', 'margin-right': 'auto', 'background-color':'white'}">

				<div class="row"
					style="width: 100%; margin-left: auto; margin-right: auto; justify-content: space-between;">

					<div style="position: static; width: 70%; margin-left: 10%;">
						<p
							style="text-align: center; margin-left: 10px; font-size: 25px; font-weight: bold; color: black;">
							Popular Ideas
						</p>

					</div>
					<div class="field" style="width: 20%;">
						<select class="form-control" formControlName="department" id="department">
							<option>Newest</option>
							<option>Most View</option>
							<option>Most Likes</option>
							<option>Most Dislikes</option>
						</select>
					</div>

					
					
					<div class="row" style="margin-top: 20px; width: 100%; margin-left: auto; margin-right: auto;">
						<div class="col-md-12">
							<p-table #myTab [value]="listData" [tableStyle]="{ 'width': '100%' }" [rowHover]="true"
								[scrollable]="true" [globalFilterFields]="['full_name','nameEvent','title', 'nameTag']"
								[paginator]="true" [rows]="10" [rowsPerPageOptions]="[5, 10, 50]">
								<ng-template pTemplate="body" let-idea>
									<tr>
										<td>
											<div style="width: 100%;">
												<div class="row"
													style="margin-top: 2rem; margin-bottom: 1rem; background-color: #F2F2F2; padding: 10px; border-radius: 10px; width: 100%; margin-left: auto; margin-right:auto;">
													<div class="personal-info col-3" style="position: static;">
														<p-avatar image="{{idea.url_avatar}}" styleclass="mr-2"
															size="xlarge" shape="circle"></p-avatar>
														<p></p>
														<p>{{idea.full_name}}</p>
													</div>
													<div class="col-9" style="position: static;">
														<button pbutton pripple type="button" label=""
															class="p-button-text p-button-plain border-0"
															(click)="IdeaDetail(idea.idea_id)">{{idea.title}}</button>
														<div class="row"
															style="width: 100%; justify-content: space-between; margin-left: auto; margin-right: auto;">
															<p>Event: {{idea.nameEvent}}</p>
															
															<p>{{idea.views}} Views</p>
														</div>
														<div class="row"
															style="width: 100%; justify-content: space-between; margin-left: auto; margin-right: auto; ">
															<p style="width: 60%;">Start at: {{idea.created_at | date:'mediumDate'}}</p>
															<p>{{idea.views}} Likes</p>
															<p>{{idea.views}} Dislikes</p>
														</div>
														<div class="row" style="margin-left: auto; margin-right: auto;">
															<p style="display: none;">{{idea.nameTag}}</p>
														</div>
														<div class="row">
															<p-chip label="#{{lc.name}}" *ngFor="let lc of idea.tag; index as i;"></p-chip>

														</div>
													</div>
												</div>
											</div>
										</td>

									</tr>
								</ng-template>
							</p-table>
						</div>
					</div>
				</div>


			</p-card>
		</div>



		<p-toast position="bottom-right"></p-toast>
	</div>