<div class="menu-bar" style="position: fixed; width: 100%; top: 0%; left: 0%;">
    <app-header-home></app-header-home>
</div>
<br>
<div class="row">

    <app-menu></app-menu>

    <div style="width: 55%; margin-left: auto; margin-right: auto; margin-top: 4.5%;">
        <p style="font-weight: bold; font-size: 24px;">Your Info</p>
        <p-card>
            <div style="display: flex;">
                <p-avatar *ngIf="avatar_url != null" size="xlarge" shape="circle" image="{{avatar_url}}"></p-avatar>
                <p-avatar *ngIf="avatar_url == null" size="xlarge" shape="circle" image="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg"></p-avatar>
                <p style="width: 50%; margin-left: 5%;">Personalize your account with a photo. Your profile picture will
                    appear at the top of the app
                    ideas section.</p>
            </div>


        </p-card>

        <p-card>
            <div style="display: flex; justify-content: space-between;">
                <p>Profile Info</p>
                <p-button label="Edit your info" (click)="openEditYourInformation()"
                    styleClass="p-button-link"></p-button>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <p style="min-width: 10%;">Full Name</p>
                <p style="min-width: 20%;">{{name}}</p>
                
            </div>
            <div style="display: flex; justify-content: space-between;">
                <p style="min-width: 10%;">Gender</p>
                <p style="min-width: 20%;">{{gender}}</p>
                <p style="min-width: 50%;"></p>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <p style="min-width: 10%;">BirthDay</p>
                <p style="min-width: 20%;">{{date}}</p>
                <p style="min-width: 50%;"></p>
            </div>
        </p-card>

        <p-card>
            <div style="display: flex; justify-content: space-between;">
                <p>Account Info</p>
                <p-button label="Edit account info" styleClass="p-button-link"
                    (click)="openEditYourAccount()"></p-button>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <p style="min-width: 10%;">Email</p>
                <p style="min-width: 20%;">{{email}}</p>
                <p style="min-width: 50%;"></p>
            </div>
            <div style="display: flex; justify-content: space-between;">
                <p style="min-width: 10%;">Password</p>
                <p style="min-width: 20%;">*************</p>
                <p style="min-width: 50%;"></p>
            </div>
        </p-card>
    </div>
</div>


<p-dialog [(visible)]="profileDialog" [style]="{width: '500px'}" header="Your Profile Info" [modal]="true"
    styleClass="p-fluid">
    <form [formGroup]="formGroup">
        <div class="field" style="display: flex;">
            <p-avatar *ngIf="avatar_url != null" [image]="avatar_url" shape="circle" size="xlarge"></p-avatar>
            <p-avatar *ngIf="avatar_url == null" image="https://vnn-imgs-f.vgcloud.vn/2020/03/23/11/trend-avatar-1.jpg"  shape="circle" size="xlarge"></p-avatar>
            <label for="files" class="btn"
                style="height: 40px; width: 30%; margin-top: 3%; margin-left: 5%; border-width: 1px; border-color: black;">Select
                Image</label>
            <input type="file" id="files" (change)="onselectFile($event)" accept="image/*"
                style="margin-top: auto; margin-bottom: auto; margin-left: 5%; display: none;" required>
        </div>

        <div class="field" style="margin-top: 5%;">
            <label for="name">Full Name</label>
            <input type="text" pInputText id="name" formControlName="name"
                [ngClass]="(formGroup.controls.name.invalid && (formGroup.controls.name.dirty || formGroup.controls.name.touched)) ? 'ng-invalid ng-dirty' : ''">

            <div class="form-group mb-2" [hidden]="formGroup.controls.name.valid|| formGroup.controls.name.untouched">
                <span
                    *ngIf="formGroup.controls.name.hasError('required') || formGroup.controls.name.hasError('blankString') "
                    class="error-message-span" style="color: #FD0B0B; font-size: small;">
                    Please enter your Full Name
                </span>
            </div>
        </div>
        <div class="field" style="margin-top: 5%;">
            <label class="mb-3">Gender</label>
            <div class="formgrid grid">
                <div class="field-radiobutton col-6" style="display: flex;">
                    <input type="radio" id="Male" name="gender" value="Male" formControlName="gender" checked
                        style="height: 20px; width: 20px;">
                    <label for="Male" style="margin-bottom: 0; margin-left: 5%;">Male</label>
                </div>
                <div class="field-radiobutton col-6" style="display: flex; margin-top: 3%;">
                    <input type="radio" id="Female" name="gender" value="Female" formControlName="gender"
                        style="height: 20px; width: 20px;">
                    <label for="Female" style="margin-bottom: 0; margin-left: 5%;">Female</label>
                </div>
            </div>
        </div>

        <div class="field" style="margin-top: 5%;">
            <label for="birthDay">BirthDay</label>
            <p-calendar formControlName="birthday" inputId="basic" [required] appendTo="body"
                [ngClass]="(formGroup.controls.birthday.invalid && (formGroup.controls.birthday.dirty || formGroup.controls.birthday.touched)) ? 'ng-invalid ng-dirty' : ''"></p-calendar>

            <div class="form-group mb-2"
                [hidden]="formGroup.controls.birthday.valid|| formGroup.controls.birthday.untouched">
                <span
                    *ngIf="formGroup.controls.birthday.hasError('required') || formGroup.controls.birthday.hasError('blankString') "
                    class="error-message-span" style="color: #FD0B0B; font-size: small;">
                    Please enter your birthday
                </span>
            </div>
        </div>

    </form>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="SaveEditInfor()"></button>
    </ng-template>
</p-dialog>




<p-dialog [(visible)]="accountDialog" [style]="{width: '500px'}" header="Account Info" [modal]="true"
    styleClass="p-fluid">

    <ng-template pTemplate="content">
        <form [formGroup]="formEditAccount">
            <div class="field">
                <label for="name">Old password</label>
                <p-password formControlName="oldPassword" [toggleMask]="true"></p-password>

            </div>
            <div class="form-group mb-2"
                [hidden]="formEditAccount.controls.oldPassword.valid|| formEditAccount.controls.oldPassword.untouched">
                <span
                    *ngIf="formEditAccount.controls.oldPassword.hasError('required') || formEditAccount.controls.oldPassword.hasError('blankString') "
                    class="error-message-span" style="color: #FD0B0B; font-size: small;">
                    Please enter your old password
                </span>
            </div>

            <div class="field">
                <label for="name">New password</label>
                <p-password formControlName="password" [toggleMask]="true"></p-password>

            </div>
            <div class="form-group mb-2"
                [hidden]="formEditAccount.controls.password.valid|| formEditAccount.controls.password.untouched">
                <span
                    *ngIf="formEditAccount.controls.password.hasError('required') || formEditAccount.controls.password.hasError('blankString') "
                    class="error-message-span" style="color: #FD0B0B; font-size: small;">
                    Please enter your password
                </span>
            </div>

            <div class="field">
                <label for="name">Confirm password</label>
                <p-password formControlName="confirmPassword" [toggleMask]="true"></p-password>

            </div>
            <div class="form-group mb-2"
                [hidden]="formEditAccount.controls.confirmPassword.valid|| formEditAccount.controls.confirmPassword.untouched">
                <span
                    *ngIf="formEditAccount.controls.confirmPassword.hasError('required') || formEditAccount.controls.confirmPassword.hasError('blankString') "
                    class="error-message-span" style="color: #FD0B0B; font-size: small;">
                    Please enter your confirm password
                </span>
            </div>
        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"
            (click)="SaveEditAccount()"></button>
    </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>