
<!-- <div class="header">
            <p-menubar [model]="menus">
                <ng-template pTemplate="start">
                    <a href=""><img src="../../assets/images/home.png" style="margin-left: 55px;" /></a>
                </ng-template>
            </p-menubar>
</div> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a href=""><img src="../../assets/images/home.png" style="margin-left: 55px;" /></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">University <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Department 1</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Department 2</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Department 2</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">Department 4</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li> -->
        </ul>
    </div>
</nav>

