:host ::ng-deep .p-menubar{
    background-color: white;
    border-width: 0;
    padding-top: 20px;
    border-radius: 0%;
    
}

.header{
    border-bottom-style: groove;
    position: sticky;
    width: 100%;
    top: 0px;
    margin-bottom: 1.5rem !important;
}


:host ::ng-deep .p-menubar .p-menuitem-link {
    margin-left: 1rem;

}

:host ::ng-deep .p-button{
    background-color: white;
    border-width: 0;
    margin-right: 0;
    width: 60px;
    display: flex;
}

:host ::ng-deep .p-button:enabled:hover {
    background-color: white;
}



:host ::ng-deep .p-menubar .p-menubar-end {
    margin-left: 0;
}

:host ::ng-deep .p-menu {
    position: fixed;
    width: 30%;
}


:host ::ng-deep .navbar-light .navbar-nav .nav-link:focus {
    color: white;
    background-color: rgb(178, 178, 249);
    border-radius: 10px;
}

:host ::ng-deep .navbar-light .navbar-nav .nav-link {
    color: black;
}



