<div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="" class="col-md-1"><img src="../../assets/images/home.png" style="margin-left: 55px;" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active col-md-5">
                    <a class="nav-link" href="#/manage/account">Manage Account<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active col-md-5">
                    <a class="nav-link" href="#/manage/Department">Manage Department</a>
                </li>
                <li class="nav-item active col-md-5">
                    <a class="nav-link" href="#/manage/department">Manage Department</a>
                </li>
                <li class="nav-item active col-md-5">
                    <a class="nav-link" href="#">Log out</a>
                </li>
            </ul>
        </div>
    </nav>

    <div style="width: 100%; display: flex; margin-top: 1%;">
        <div class="ds-department">
            <div class="col-md-12 body-page">
                <div class="row">
                    <div class="col-md-6"></div>
                    <div class="col-md-6">
                        <div class="row text-right">
                            <div class="col-md-12 mt-10">
                                <div class="group_btn" [style]="{'float': 'right'}">
                                    <span class="p-input-icon-right">
                                        <i class="pi pi-search"></i>
                                        <input pInputText type="text" class="input-search"
                                            (input)="myTab.filterGlobal($any($event.target).value, 'contains')"
                                            placeholder="Search..."
                                            style="margin-left: 7.5px; height: 30px !important;" />
                                    </span>
                                    <button pButton type="button" (click)="openNewDepartment(null)" label="Add"
                                        icon="pi pi-plus"
                                        style="background-color:#f97c39; width: 120px !important; height: 30px !important; margin-left: 5px; border: 0px;"></button>
                                    <button pButton type="button" label="Delete" icon="pi pi-trash"
                                        style="background-color:red; width: 120px !important; height: 30px !important; margin-left: 5px; border: 0px"
                                        (click)="showDialogDeletes()"></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <div class="col-md-12">
                        <p-table #myTab [columns]="cols" [value]="listData" [tableStyle]="{ 'min-width': '50rem' }"
                            [(selection)]="listSelectedData" dataKey="department_id" [rowHover]="true"
                            [scrollable]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
                            [globalFilterFields]="['Stt','name',]">
                            <ng-template pTemplate="header" let-columns>
                                <tr>
                                    <th style="width: 2rem" class="text-center">
                                        <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                                    </th>
                                    <th *ngFor="let col of columns"
                                        [ngStyle]="{ 'text-align': 'center', 'min-width': col.width }">
                                        {{ col.header }}
                                    </th>
                                </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-department>
                                <tr>
                                    <td style="width: 2rem" class="text-center">
                                        <p-tableCheckbox [value]="department"></p-tableCheckbox>
                                    </td>
                                    <td style="text-align: center;">{{department.Stt}}</td>
                                    <td style="text-align: center">{{department.name}}</td>
                                    <td style="text-align: center">{{department.manager.nick_name}}</td>
                                    <td style="text-align: center; ">
                                        <span
                                            style="display: flex; text-align: center; width: fit-content; margin-right: auto; margin-left: auto;">
                                            <button pButton icon="pi pi-pencil" class="ui-button-primary edit-button"
                                                (click)="openNewDepartment(department)"></button>
                                            <button pButton icon="pi pi-trash" class="ui-button-danger delete-button"
                                                style="margin-left: 5px"
                                                (click)="showDialogDelete(department)"></button>
                                        </span>
                                    </td>
                                </tr>
                            </ng-template>
                        </p-table>
                    </div>
                </div>
            </div>
            <p-toast position="bottom-right"></p-toast>
        </div>
    </div>
</div>




<!-- confirm delete department -->
<p-dialog header="Confirm" [(visible)]="displayDeleteDepartment" [modal]="true" [responsive]="true" [closable]="false"
    [style]="{width: '20%', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">
    <p>Are you sure to delete this department?</p>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="displayDeleteDepartment=false" label="Cancel"
            class="btn btn-light" style="width:100px; height:38px"></button>
        <button type="button" pButton icon="pi pi-close" (click)="deleteDepartment()" label="OK" class="btn btn-primary"
            style="width:72px; height:38px"></button>
    </p-footer>
</p-dialog>

<!-- confirm delete departments-->
<p-dialog header="Confirm" [(visible)]="displayDeleteDepartments" [modal]="true" [responsive]="true" [closable]="false"
    [style]="{width: '20%', minWidth: '200px'}" [minY]="70" [baseZIndex]="10000">
    <p>Are you sure to delete these departments?</p>
    <p-footer>
        <button type="button" pButton icon="pi pi-close" (click)="displayDeleteDepartments = false" label="Cancel"
            class="btn btn-light" style="width: 100px; height:38px"></button>
        <button type="button" pButton icon="pi pi-close" (click)="deleteDepartments()" label="OK"
            class="btn btn-primary" style="width:72px; height:38px"></button>
    </p-footer>
</p-dialog>